extends layout

block content
    if errors
        .alert.alert-danger
            ul
                each error in errors
                    li= error
    form(method='POST', action='/posts/add', enctype='multipart/form-data')
        .form-group
            label(for='title') Title:
            if post.title
                input#title.form-control(type='text', name='title', autocomplete='off', value=post.title)
            input#title.form-control(type='text', name='title', autocomplete='off')
        .form-group
            label(for='content') Text:
            if post.content
                textarea#content.form-control(rows=10, cols=10 ,name='content', autocomplete='off', value=post.content)
            textarea#content.form-control(rows=10, cols=10 , name='content', autocomplete='off')
        .form-group
            label(for='file') Post image:
            input(type='file', name='file', accept='image/*', id='file', required='')
        .form-group
            label(for='sel1') Choose category:
            select#sel1.form-control(name='categoryDropdown')
                option(value="none") Choose category
                each category in categories
                    option(value=category.name)= category.name
        .form-group
            label(for='category') Or add new category:
            input#category.form-control(type='text', name='category', autocomplete='off')
        button.btn.btn-default(type='submit') Add