extends layout

block content
    .blog
      .blog-left
        each post in posts
          .blog-left-grid
            .blog-left-grid-left
              h3
                a(href='/posts/#{post.id}')= post.title
              p
                | Category:
                a(href='/posts?category=#{post.category.id}')
                  span=post.category.name

                |  | #{moment(post.createdTime).fromNow()}
            .blog-left-grid-right
                if post.comments.length == 0
                    a.hvr-bounce-to-bottom.non(href='#') No comments
                else if post.comments.length == 1
                    a.hvr-bounce-to-bottom.non(href='#') 1 comment
                else
                    a.hvr-bounce-to-bottom.non(href='#')= post.comments.length + " comments"
            .clearfix
            a(href='/posts/#{post.id}')
              img.img-responsive(src='/uploads/#{post.image}', alt=' ')
            p.para=readMoreText(post.content,300)
            .rd-mre
              a.hvr-bounce-to-bottom.quod(href='/posts/#{post.id}') Read More
      .blog-right
        .sap_tabs
          #horizontalTab(style='display: block; width: 100%; margin: 0px;')
            ul.resp-tabs-list
              li.resp-tab-item.grid1(aria-controls='tab_item-0', role='tab')
                span Popular
              li.resp-tab-item.grid3(aria-controls='tab_item-1', role='tab')
                span Comments
              .clear
            .resp-tabs-container
              .tab-1.resp-tab-content(aria-labelledby='tab_item-0')
                each post, i in posts
                  if(i<4)
                    .facts
                      .tab_list
                        a.b-link-stripe.b-animate-go.swipebox(href='/posts/#{post._id}', title='')
                          img.img-responsive.sideImg(src='/uploads/#{post.image}', alt=' ')
                      .tab_list1
                        a(href='/posts/#{post._id}')=post.title
                        p=moment(post.createdTime).fromNow()
                          span=readMoreText(post.content,77)
                      .clearfix
              .tab-1.resp-tab-content(aria-labelledby='tab_item-1')
                each comment in comments
                  .facts
                    .tab_list
                      a.b-link-stripe.b-animate-go.swipebox(href='/images/co.png', title='')
                        img.img-responsive(src='/images/co.png', alt=' ')
                    .tab_list1
                      a(href='#')=comment.user.username
                      p=moment(comment.createdTime).fromNow()
                        span=comment.message
                    .clearfix
            script(src='js/easyResponsiveTabs.js', type='text/javascript')
            script(type='text/javascript').
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            link(rel='stylesheet', href='css/swipebox.css')
            script(src='js/jquery.swipebox.min.js')
            script(type='text/javascript').
                jQuery(function ($) {
                    $(".swipebox").swipebox();
                });
        .pgs
          h3 Categories
          ul
            each category in categories
              li
                a(href='/posts?category=#{category._id}')=category.name
      .clearfix
    // //blog


