doctype html
html
  head
    title
      | Quickly a Blogging Category Flat Bootstarp Resposive Website Template | Home :: w3layouts
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="keywords", content="Quickly Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design")
    script(type="application/x-javascript").
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css", media="all")
    link(href="/css/style.css", rel="stylesheet", type="text/css", media="all")
    link(href="/css/toastr.min.css",rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    .banner-body
      .container
        .header
          .header-nav
            nav.navbar.navbar-default
              .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href="/")
                  span My
                  | Blog
              #bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-wil
                ul.nav.navbar-nav
                  li.hvr-bounce-to-bottom
                    a(href="/") Home
                  if user && user.isAdmin
                    li.hvr-bounce-to-bottom
                      a(href="/posts/add") Add
                .sign-in
                  ul
                    if !user
                      li
                        a(href="/auth/login") Login/
                      li
                        a(href="/auth/register") Register
                    else
                      li
                        a(href="/auth/logout") Logout
        block content
  .footer-bottom
    .container
      p
        | © 2017 MyBlog
        | | Aleksandra Prpic
  script(src='/js/bootstrap.min.js')
  script(src='/js/toastr.min.js')

