extends layout

block content
    .login
        .login-grids
            .col-md-6.log
                h3 Login
                p Welcome, please enter the following to continue.
                form#loginForm(method='POST',action='/auth/login')
                    h5 Username:
                    input(type='text', value='', name="username")
                    h5 Password:
                    input(type='password', value='', name="password")
                    input(type='submit', value='Login')
            .col-md-6.login-right
                h3 New Registration
                p
                    | By creating an account with our you will be able to comment and like our posts.
                a.hvr-bounce-to-bottom.button(href='/auth/register') Create An Account
            .clearfix
    script(src='/js/login.js')