extends layout

block content
    if errors
        .alert.alert-danger
            ul
                each error in errors
                    li= error
    form(method='POST', action='/posts/#{post._id}/modify', enctype='multipart/form-data')
        input(name='id', value='#{post._id}', hidden)
        .form-group
            label(for='title') Title:
            input#title.form-control(type='text', name='title', autocomplete='off', value=post.title)
        .form-group
            label(for='content') Text:
            textarea#content.form-control(rows=10, cols=10 , name='content', autocomplete='off')=post.content
        .form-group
            p Current post image
            img.img-responsive(src='/uploads/#{post.image}', height='100px')
            label(for='file') New Post image:
            input(type='file', name='file', accept='image/*', id='file')
        .form-group
            label(for='sel1') Choose category:
            select#sel1.form-control(name='categoryDropdown')
                each category in categories
                    option(value=category.name)= category.name
        .form-group
            label(for='category') Or add new category:
            input#category.form-control(type='text', name='category', autocomplete='off')
        button.btn.btn-default(type='submit') Save changes

    script(type='text/javascript').
        jQuery(document).ready(function ($) {
            //Sets first category from dropdown to none(as first category is category in which post already is)
            $('#sel1 option:first').val('none')
        });
