extends layout

block content
    .single-page-artical
        .artical-content
            h3=post.title
            img.img-responsive(src='/uploads/#{post.image}', alt=' ')
            p=post.content
        .artical-links
            ul
                li
                    small
                    span=moment(post.createdTime).fromNow()
                li
                    a(href='/posts?category=#{post.category._id}')
                        small.link
                        span All posts in category #{post.category.name}
                if user && user.isAdmin
                    li
                        a(href='/posts/#{post._id}/modify')
                            button.btn.btn-success(type='button') Modify post
                    li
                        a(href='/posts/#{post._id}/delete')
                            button#delete.btn.btn-danger(type='button') Delete post
                li.singlePullRight
                    button#share.btn.btn-primary(type='button') Share on FB
                if user
                    li.singlePullRight
                        span.likeCounter=post.likes
                        img#likeBtn(src='/images/like.png',height='32px')
        .comment-grid-top
            if post.comments.length != 0
                h3 Responses
            each comment in post.comments
                .comments-top-top.top-grid-comment
                    .top-comment-left
                        img.img-responsive(src='/images/co.png', alt='')
                    .top-comment-right
                        ul
                            li
                                span.left-at=comment.user.username
                            li
                                span.right-at=moment(comment.createdTime).fromNow()
                        p=comment.message
                    .clearfix
        .artical-commentbox
            h3 leave a comment
            if user
                .table-form
                    form(method="POST",action="/posts/#{post._id}/comment")
                        textarea(value='Message:', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Message';}",name="message") Message
                        input(type='submit', value='Send')
            else
                h3 You must be logged in to leave a comment.
    script.
        jQuery(document).ready(function () {
            jQuery("#delete").click(function () {
                if (confirm("Are you sure that you want to delete this post?")) {
                    location.href = "/posts/#{post._id}/delete";
                }
            });
        });

    script(src='/js/fbsdk.js')
    script(src='/js/singlepost.js')
