extends layout

block content
    link(rel='stylesheet', type='text/css', href='/css/auth.css')
    .sign-up-form
        h3 Register Here
        p
            | Join discussion by writing comments on our blog posts, show your opinion on posts with like/dislike.
        .sign-up
            .sign-u
                .sign-up1
                    h4.d Username* :
                .sign-up2
                    form
                        input(type='text', placeholder='Username', required='', name='username')
                .clearfix
            .sign-u
                .sign-up1
                    h4.d Password* :
                .sign-up2
                    form
                        input(type='password', placeholder='Password', required='', name='password')
                .clearfix
            .sign-u
                .sign-up1
                    h4 Confirm Password* :
                .sign-up2
                    form
                        input(type='password', placeholder='Confirm password', required='', name='password2')
                .clearfix
            form#registrationForm(,='', method='POST', action='/auth/register')
                input(type='submit', value='Submit')
    script(src='/js/register.js')